.container{
    display: grid;
    border: solid black 1px;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 30vw;
    height: 30vw;

}
.gridElement:hover{
    background-color:black;
}

body{
    display:flex;
}